.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 0px;
    margin-top: 50px;
}
.featured-text {
    color: springgreen;
    font-weight: bold;
}
